body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}
h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  color: rgb(135, 135, 135);
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li::first-letter {
  text-transform: capitalize;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
}
.wrapper {
  background: #fff;
  padding: 45px;
  border: 1px solid #dadde1;
  border-radius: 4px;
}
.heading {
  margin-bottom: 20px;
}
.weather-temp img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temp strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temp .degrees {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temp .celsius {
  color: rgb(33, 33, 33);
  cursor: default;
}
.weather-temp .celsius:hover {
  text-decoration: none;
}
.weather-forcast {
  margin-top: 35px;
  padding: 40px;

  text-align: center;
  color: #000;
}
.weather-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-temp {
  font-size: 13px;
}
.temp-mini {
  opacity: 0.5;
}
